ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu{
   display: flex;
   column-gap: 3em;
}

.form > div{
    margin-bottom: 10px ;
}

.form > div > label {
    display: block;
}

.form > div > input, textarea {
    padding: 5px;
}